// Colors
$primary:#0AC4BA;
$secondary:#2BDA8E;
$white:#ffff;

// Font Family
$logo-font-family:"grand-adventure";
$text-font-family:"proximanova-regular";


%borders {
    // border: 1px dotted red;
}
%line-separator{
    background: $white;
    border: none;
    height: 1px;
}

%display-flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: $logo-font-family;
    src: url(./fonts/Grandaventure.otf);
}

@font-face {
    font-family: $text-font-family;
    src: url(./fonts/proximanova-regular.ttf);
}

body {
    margin: 0;
    background: $primary;
    background: linear-gradient(180deg, $primary 0%, $secondary 100%);
}

.top-bar {
    position: fixed;
    z-index: 1;
    background: $white;
    width: 100vw;
    padding-left: 10px;
    -webkit-box-shadow: -1px 10px 44px -24px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 44px -24px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 44px -24px rgba(0, 0, 0, 0.75);
}
.question-container{
    height: 100vh;
}

article {
    @extend %display-flex-center-all;
    font-size: 40px;
    color: $white;
    font-family: $text-font-family;
    text-align: center;
}

.workly-features {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .feature-container {
        box-sizing: border-box;
        padding: 20px;
        @extend %borders;
        @extend %display-flex-center-all;
        flex-direction: column;
        height: 100%;

        .item-feature-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;
            @extend %borders;

            .item-feature-icon {
                height: 100px;
                width: 50%;
                @extend %borders;
                padding: 10px;

                img {
                    height: 100%;
                }
            }

            .item-feature {
                width: 100%;

                h3 {
                    margin: 0px;
                    font-size: 20px;
                    text-align: left;
                }

                p {
                    font-size: 11px;
                    text-align: left;
                }
            }

        }

    }


    .phone-container {
        height: 100%;
        @extend %borders;
        @extend %display-flex-center-all;
        

        .phone-image {
            display: flex;
            height: 100%;
            // width: 100px;
            box-shadow: -12px 8px 103px -38px #000;
            border-radius: 50px;
        }

        .home-capture {
            $size: 220px;
            position: absolute;
            height: $size*1.8;
            width: $size;
            overflow: hidden;
            z-index: 0;
        }
    }
}

@media (max-width: 600px) {
    .workly-features {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}


hr {
    @extend %line-separator;
}



.text-logo {
    font-family: $logo-font-family;
}

footer {
    font-family: $text-font-family;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    div {
        @extend %borders;
        @extend %display-flex-center-all;
        flex-direction: column;

        h3 {
            color: white;
        }
    }

}

.android-logo {
    $size: 40px;
    height: $size;
    width: $size;
}